@use '../../styles/variables';

.transform {
  position: relative;
  height: 444px;
  display: flex;

  &__shadows {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  &__shadow {
    height: 100%;
    width: 72px;
    border-radius: 8px;
    border: 2px solid #1e1e24;
    background: #19191e;

    &--t {
      width: 100%;
      height: 100%;
      position: absolute;
      background: radial-gradient(
        circle,
        rgba(18, 18, 22, 0) 0%,
        rgba(18, 18, 22, 0.9) 70%,
        #121216 100%
      );
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 648px;
  }

  &__up {
    color: #e0dedc;
    text-align: center;
    font-family: variables.$zanzegi;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 48px */
    margin-bottom: 8px;
  }

  &__bottom {
    color: #89899a;
    text-align: center;
    font-family: variables.$suisse;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    border-radius: 200px;
    margin-top: 24px;
    margin-bottom: 20px;
    border: 2px solid rgba(244, 212, 193, 0.24);
    transition: all 0.3s;

    &:hover {
      border: 2px solid rgba(244, 212, 193, 0.44);

      & > div {
        background-color: rgb(245, 219, 204);
      }
    }

    &:active {
      border: 2px solid rgba(244, 212, 193, 0.14);

      & > div {
        background-color: rgba(244, 212, 193, 0.64);
      }
    }
  }

  &__circle {
    border-radius: 200px;
    background-color: variables.$beige;
    width: 236px;
    height: 44px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    color: #121216;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #121216;
    font-family: variables.$suisse;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow:
      0px 0.75px 0.75px 0px rgba(255, 255, 255, 0.20) inset,
      0px 0px 1px 0px rgba(255, 255, 255, 0.32) inset,
      0px 2px 4px 0px rgba(244, 212, 193, 0.15),
      5px 0px 6px -4px rgba(244, 212, 193, 0.15),
      -5px 0px 6px -4px rgba(244, 212, 193, 0.15),
      0px 7px 7px 0px rgba(244, 212, 193, 0.13),
      0px 16px 10px 0px rgba(244, 212, 193, 0.08);
    transition: all 0.3s;

    & > img {
      height: 24px;
      width: 24px;
      margin-top: 2px;
    }
  }
}
