@use '../../styles/variables';

.works {
  display: flex;
  width: 648px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;

  &__links {
    display: flex;
    flex-direction: row;
    gap: 55px;

    & img {
      transition: all 0.3s;
      filter: brightness(0) saturate(100%) invert(45%) sepia(4%) saturate(300%)
        hue-rotate(210deg);
    }

    :nth-child(1) {
      img {
        width: 51px;
        height: 28px;
      }
    }

    :nth-child(3) {
      img {
        width: 25px;
        height: 32px;
      }
    }

    :nth-child(5) {
      img {
        width: 30px;
        height: 44px;
      }
    }

    :nth-child(7) {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__link {
    display: flex;
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 18px;
    border: 1.5px solid rgba(96, 96, 113, 0.5);

    &:hover {
      border: 2.5px solid rgba(244, 212, 193, 0.24);
      
      & img {
        filter: brightness(0) saturate(100%) invert(94%) sepia(18%)
          saturate(345%) hue-rotate(333deg);
      }
    }

    &-p3 {
      background: #17171c;
      width: 62px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.03) inset;
    }
  }
}
