// @import url('../../styles/variables');
@use '../../styles/variables';

.footer {
  width: 100%;
  position: relative;
  padding: 47px 0 24px;
  margin-top: 350px;

  &__logo {
    position: absolute;
    top: -85px;
    left: calc(50% - 348px);
    z-index: -1;
    width: 695px;
    height: 144px;
    opacity: 0.6;
  }

  &__dots {
    position: absolute;
    top: -188px;
    left: calc(50% - 403px);
    width: 806px;
    height: 163px;
  }

  &__line {
    position: relative;
    width: 100%;
    height: 1px;
    opacity: 0.4;
    background: linear-gradient(90deg, rgba(244, 212, 193, 0.05) 15.63%, #F4D4C1 49.95%, rgba(244, 212, 193, 0.05) 84.35%);
  }

  &__middle {
    padding-top: 48px;
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: variables.$black;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 50%;
      width: 80%;
      height: 20px;
      transform: translateX(-50%);
      box-shadow: 0 -10px 30px 18px rgba(18, 18, 22, 0.9);
      pointer-events: none;
    }
  }

  &__glow {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 220px;
    background: transparent;
    overflow: hidden;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      top: -470px;
      left: 50%;
      width: 1400px;
      height: 850px;
      transform: translateX(-50%);
      background: radial-gradient(
          ellipse at center,
          rgba(244, 212, 193, 0.09) 0%,
          rgba(244, 212, 193, 0.08) 30%,
          rgba(244, 212, 193, 0.01) 60%,
          rgba(244, 212, 193, 0) 98%,
          rgba(0, 0, 0, 0) 100%
      );
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__logo-by {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
      width: 156px;
      height: 40px;
    }
  }
  
  &__motto {
    color: variables.$grey;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0;

  }

  &__links {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
  }

  &__link {
    display: flex;
    align-items: center;
    transition: all 0.3s;

    & span {
      transition: all 0.3s;
    }

    & img {
      transition: all 0.3s;
      filter: invert(46%) sepia(4%) saturate(112%) hue-rotate(180deg) brightness(92%) contrast(88%);
    }

    &:hover {
      & span {
        color: variables.$white-grey;
      }

      & img {
        filter: unset;
      }
    }
  }

  &__text {
    color: variables.$grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.75px; 
    margin: 0;
  }

  &__bottom {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: start;
    padding-top: 53px;
  }
}
