@use './styles/variables';

.main {
  max-width: 648px;
  margin: 0 auto;
}

.section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  
  &__section {
    font-family: variables.$suisse, sans-serif;
    color: variables.$beige;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  &__title {
    color: variables.$white-grey;
    font-family: variables.$zanzegi, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.separator {
  height: 16px;
  width: 100%;
}