@use './styles/variables';

.main {
  max-width: 648px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.section {
  display: flex;
  gap: 24px;
  flex-direction: column;
  
  &__section {
    font-family: variables.$suisse, sans-serif;
    color: variables.$beige;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    &--big {
      font-size: 14px;
    }
  }

  &__title {
    color: variables.$white-grey;
    font-family: variables.$zanzegi, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &--big {
      font-size: 48px;
    }
  }

  &__star {
    height: 20px;
    width: 20px;
  }
}

.separator {
  height: 16px;
  width: 100%;
}

.text-white {
  color: variables.$white-grey;
}