@font-face {
  font-family: 'Zanzegi';
  src: 
      /* url('./fonts/zangezi08_trial-regular.otf') format('opentype'), */
      url('./fonts/Zangezi08_Trial-SemiLight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: 
      url('./fonts/SuisseIntl-Light.otf') format('opentype'),
      url('./fonts/SuisseIntl-Black.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}


:root {
  font-family: SuisseIntl, sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  background-color: #121216;
  /*max-width: 100vw;*/
  /*overflow-x: hidden;*/
  /* display: flex; */
  /* place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(68, 66, 66); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #89899A;
  font-family: 'SuisseIntl', sans-serif;
}

/* Убираем стили списка */
ul, ol {
  list-style: none;
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Сбрасываем стили заголовков
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: inherit;
} */

/* Сбрасываем кнопки и инпуты */
button, input, textarea, select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Убираем обводку у кнопок при фокусе в некоторых браузерах */
button:focus, input:focus, textarea:focus, select:focus {
  outline: none;
}

/* Сбрасываем таблицы */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* Делаем изображения адаптивными */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
