.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 648px;
  overflow: hidden;
  font-size: 18px;
  margin-top: 88px;

  &__content {
    display: flex;
    gap: 48px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transform: translateX(466px);
  }

  &__track {
    display: flex;
    width: max-content;
    animation: scroll 5s linear infinite;
  }

  &__fade {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    pointer-events: none;
    z-index: 2;

    &--left {
      left: 0;
      background: linear-gradient(to right, rgba(18, 18, 22, 1) 0%, rgba(18, 18, 22, 0.9) 20%, rgba(18, 18, 22, 0.3) 40%, rgba(18, 18, 22, 0) 55%);
    }

    &--right {
      right: 0;
      background: linear-gradient(to left, rgba(18, 18, 22, 1) 0%, rgba(18, 18, 22, 0.9) 20%, rgba(18, 18, 22, 0.3) 40%, rgba(18, 18, 22, 0) 55%);
    }
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    //transform: translateX(calc(-50% - 48px));
    transform: translateX(-815px);
  }
}
